@use '../../global.module.scss';

.dropdown {
	position: relative;
	display: inline-block;
	top: 50px;
}

.dropdown-content {
	display: block;
	position: absolute;
	background-color: var(--secondary-bg-color);
	color: var(--primary-color);
	min-width: 300px;
	box-shadow: 0 4px 16px hsla(0, 0%, 0%, 0.16);
	z-index: 1;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: var(--border-radius);
}
.wrapper {
	display: flex;
	cursor: pointer;
}

.dropdown-right {
	// left: 0;
}
.dropdown-left {
	right: 0;
}

.dropdown-top {
	bottom: 100px;
	right: 0;
}
