@import '../../global.module.scss';

.dropdown {
	position: relative;
	display: inline-block;
	top: 50px;
}

.dropdown-content {
	display: block;
	position: absolute;
	background-color: var(--primary-bg-color);
	color: var(--primary-color);
	min-width: 300px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border: 1px solid rgba(0, 0, 0, 0.1);
	right: 0;
}
.wrapper {
	display: flex;
}
