@use '../../global.module.scss';

.input::placeholder {
	color: var(--muted-color);
	opacity: 1; /* Firefox */
}



.input {
	background-color: var(--primary-accent-color);
	border: 1px solid transparent;
	border-radius: var(--border-radius);
	padding: 10px;
	font-size: var(--medium-font-size);
	color: var(--primary-color);
	outline: none;
	transition: border 0.3s;
	height: 25px;
	&:focus {
		border-color: black;
		border-color: var(--accent-color);
	}
	&:hover {
		background-color: var(--hover-bg-color);
		border: 1px solid var(--secondary-color);
	}
	&:disabled{
		cursor: not-allowed;
	}
	&.with-start-enhancer {
		padding-left: 40px; /* Space for the start enhancer */
	}

	&.with-end-enhancer {
		padding-right: 40px; /* Space for the end enhancer */
	}
}

.input-group {
	display: flex;
	flex-direction: column;
	width: 100%;
	label {
		margin-bottom: 10px;
		font-weight: 700;
		color: var(--primary-color);
	}

	span.info {
		margin-top: 5px;
		color: var(--secondary-color);
	}

	span.info.danger {
		color: var(--danger-color);
	}

	span.info.success {
		color: var(--success-color);
	}

	span.info.warning {
		color: var(--warning-color);
	}
}

.input-wrapper {
	position: relative;
	display: flex;
	align-items: center;

	.input {
		flex: 1;
	}

	.toggle-password,
	.clear-input {
		position: absolute;
		right: 10px;
		cursor: pointer;
		color: var(--primary-color);
		font-size: var(--medium-font-size);
	}

	.toggle-password.with-clearable {
		right: 60px; /* Position toggle-password button to the left of clear button */
	}

	.start-enhancer,
	.end-enhancer {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--primary-color);
	}

	.start-enhancer {
		left: 10px;
	}

	.end-enhancer {
		right: 10px;
	}
}

html[data-theme='dark'] .input {
	background-color: var(--primary-bg-color);
	border: 1px solid transparent;
	color: var(--primary-color);

	&:focus {
		border-color: var(--primary-color);
	}

	&:hover {
		border-color: var(--primary-color);
	}
}

.input.danger {
	border-color: var(--danger-color);
	background-color: var(--danger-bg-color);
}

.input.success {
	border-color: var(--success-color);
	background-color: var(--success-bg-color);
}

.input.warning {
	border-color: var(--warning-color);
	background-color: var(--warning-bg-color);
}

html[data-theme='dark'] .input.danger {
	border-color: var(--danger-dark-color);
	background-color: var(--danger-bg-dark-color);
}

html[data-theme='dark'] .input.success {
	border-color: var(--success-dark-color);
	background-color: var(--success-bg-dark-color);
}

html[data-theme='dark'] .input.warning {
	border-color: var(--warning-dark-color);
	background-color: var(--warning-bg-dark-color);
}

html[data-theme='dark'] .input-group .info {
	color: var(--secondary-color);
}

html[data-theme='dark'] .input-group .info.danger {
	color: var(--danger-dark-color);
}

html[data-theme='dark'] .input-group .info.success {
	color: var(--success-dark-color);
}

html[data-theme='dark'] .input-group .info.warning {
	color: var(--warning-dark-color);
}
