@import '../../global.module.scss';

.button {
	font-family: var(--font-family);
	font-weight: var(--font-weight);
	border: 0;
	border-radius: var(--border-radius);
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	width: fit-content;
}

.button--primary {
	color: var(
		--primary-bg-color
	); /* Light mode: text color should be the background color of primary */
	background-color: var(
		--primary-color
	); /* Light mode: background color should be the text color of primary */
}

.button--secondary {
	color: var(--secondary-color);
	background-color: var(--secondary-bg-color);
	box-shadow: var(--box-shadow);
}

.button--small {
	font-size: var(--small-font-size);
	padding: var(--small-padding);
}

.button--medium {
	font-size: var(--medium-font-size);
	padding: var(--medium-padding);
}

.button--large {
	font-size: var(--large-font-size);
	padding: var(--large-padding);
}

.loader-icon {
	height: 14px;
	width: 14px;
	line-height: 0;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	border-top-color: var(--loader-border-color);
	border-left-color: var(--loader-bg-color);
	border-bottom-color: var(--loader-bg-color);
	border-right-color: var(--loader-bg-color);
	box-sizing: border-box;
	display: inline-block;
	animation-duration: 700ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-name: animation-rotation;
}

@keyframes animation-rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

html[data-theme='dark'] {
	.button--primary {
		color: var(
			--primary-bg-color
		); /* Dark mode: text color should be the primary color */
		background-color: var(
			--primary-color
		); /* Dark mode: background color should be the primary background color */
	}

	.button--secondary {
		color: var(--primary-color);
		background-color: var(--secondary-bg-color);
		box-shadow: var(--box-shadow);
	}

	.loader-icon {
		border-top-color: var(--loader-bg-color);
		border-left-color: var(--loader-border-color);
		border-bottom-color: var(--loader-border-color);
		border-right-color: var(--loader-border-color);
	}
}
