@use '../../global.module.scss';

.button {
	font-family: var(--font-family);
	font-weight: var(--font-weight);
	border: 0;
	border-radius: var(--border-radius);
	cursor: pointer;
	line-height: 1;
	width: fit-content;
	align-items: center;
	display: flex;
	gap: 5px;
}

.button--primary {
	color: var(
		--primary-bg-color
	); /* Light mode: text color should be the background color of primary */
	background-color: var(
		--primary-color
	); /* Light mode: background color should be the text color of primary */
}

.button--secondary {
	color: var(--secondary-color);
	background-color: var(--secondary-bg-color);
	box-shadow: var(--box-shadow);
}

.button--tertiary {
	background: none;
	border: none;
	color: var(--primary-color);
	text-decoration: underline;
	cursor: pointer;
	font-weight: normal;

	&:hover {
		background-color: var(--primary-accent-color);
	}
}

.button--danger {
	color: var(--danger-bg-color);
	background-color: var(--danger-color);
	box-shadow: var(--box-shadow);
}

.button--small {
	font-size: var(--small-font-size);
	padding: var(--small-padding);
}

.button--medium {
	font-size: var(--medium-font-size);
	padding: var(--medium-padding);
}

.button--large {
	font-size: var(--large-font-size);
	padding: var(--large-padding);
}
.button-block {
	width: 100%;
}

html[data-theme='dark'] {
	.button--primary {
		color: var(
			--primary-bg-color
		); /* Dark mode: text color should be the primary color */
		background-color: var(
			--primary-color
		); /* Dark mode: background color should be the primary background color */
	}

	.button--secondary {
		color: var(--primary-color);
		background-color: var(--secondary-bg-color);
		box-shadow: var(--box-shadow);
	}

	.button--tertiary {
		color: var(--primary-color);

		&:hover {
			text-decoration: underline;
		}
	}

	.loader-icon {
		border-top-color: var(--loader-bg-color);
		border-left-color: var(--loader-border-color);
		border-bottom-color: var(--loader-border-color);
		border-right-color: var(--loader-border-color);
	}
}

.enhancer {
	margin: 0 4px;
	&:first-child {
		margin-right: 8px;
	}
	&:last-child {
		margin-left: 8px;
	}
}
