@use '../../global.module.scss';

.filefield-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.label {
	margin-bottom: 8px;
	font-weight: bold;
	color: var(--primary-color);
}

.filefield {
	width: 100%;
	padding: 20px;
	border: 2px dashed var(--primary-color);
	border-radius: var(--border-radius);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--secondary-color);
	cursor: pointer;
	transition: background-color 0.2s;
	display: flex;
	flex-direction: column;

	&:hover {
		background-color: var(--hover-bg-color);
	}
}

.filefield-text {
	color: var(--secondary-color);
}

.file-info {
	margin-top: 8px;
	display: flex;
	align-items: center;
	color: var(--primary-color);
}

.clear-button {
	margin-left: 8px;
	padding: 4px 8px;
	background-color: var(--danger-color);
	color: white;
	border: none;
	border-radius: var(--border-radius);
	cursor: pointer;
	transition: background-color 0.2s;
}
