@use '../../global.module.scss';

.select {
	padding: 8px 16px 8px 12px; /* Updated padding values */
	font-size: var(--medium-font-size);
	border-radius: 8px;
	width: 100%;
	border: 1px solid var(--primary-accent-color);
	background-color: var(--primary-accent-color);
	color: var(--primary-color);
	transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
	min-height: 25px;
	display: flex;
	align-items: center;

	&:hover {
		background-color: var(--hover-bg-color);
		border: 1px solid var(--secondary-color);
	}

	&:focus {
		border-color: var(--accent-color); /* Change focus border color */
	}
}

.select-option {
	padding: 8px 12px;
	cursor: pointer;
	display: flex;
	&:hover {
		background-color: var(--hover-bg-color);
	}
}

html[data-theme='dark'] .select {
	background-color: var(--primary-bg-color);
	color: var(--primary-color);
	// border-color: var(--secondary-color);

	&:hover {
		// background-color: var(--hover-bg-color); /* Hover effect for dark theme */
	}

	&:focus {
		border-color: var(
			--accent-color
		); /* Change focus border color for dark theme */
	}
}

.action-container {
	padding: 10px;
}

.options-container {
	max-height: 400px;
	overflow-y: auto;
}
.padded {
	padding-top: 20px;
}

.container {
	display: flex;
	gap: 10px;
	flex-direction: column;
}

.container label {
	color: var(--primary-color);
	font-weight: 650;
}
