@import '../../global.module.scss';

.header {
	&.sticky {
		position: sticky;
		top: 0;
	}

	.wrapper {
		font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		padding: 15px 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #fff;
		color: #333;

		[data-theme='dark'] & {
			background-color: #333;
			color: #fff;
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		}
	}

	svg {
		display: inline-block;
		vertical-align: top;

		[data-theme='dark'] & {
			fill: #fff;
		}
	}

	h1 {
		font-weight: 700;
		font-size: 20px;
		line-height: 1;
		margin: 6px 0 6px 10px;
		display: inline-block;
		vertical-align: top;

		[data-theme='dark'] & {
			color: #fff;
		}
	}

	button + button {
		margin-left: 10px;
	}

	.welcome {
		color: #333;
		font-size: 14px;
		margin-right: 10px;

		[data-theme='dark'] & {
			color: #fff;
		}
	}
}
