@import '../../global.module.scss';

.header {
	&.sticky {
		position: sticky;
		top: 0;
	}

	.wrapper {
		font-family: var(--font-family);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		padding: 15px 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: var(--primary-bg-color);
		color: var(--primary-color);
	}

	svg {
		display: inline-block;
		vertical-align: top;
		fill: var(--primary-color);
	}

	h1 {
		font-weight: var(--font-weight);
		font-size: 20px;
		line-height: 1;
		margin: 6px 0 6px 10px;
		display: inline-block;
		vertical-align: top;
		color: var(--primary-color);
	}

	button + button {
		margin-left: 10px;
	}

	.welcome {
		color: var(--secondary-color);
		font-size: var(--medium-font-size);
		margin-right: 10px;
	}
}

html[data-theme='dark'] {
	.header {
		.wrapper {
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			background-color: var(
				--primary-bg-color
			); /* This should now be black for dark theme */
			color: var(--primary-color); /* This should now be white for dark theme */
		}

		svg {
			fill: var(--primary-color); /* This should now be white for dark theme */
		}

		h1 {
			color: var(--primary-color); /* This should now be white for dark theme */
		}

		.welcome {
			color: var(--primary-color); /* This should now be white for dark theme */
		}
	}
}

.avatar-container {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.user-info {
	padding: 12px 16px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	display: flex;
	gap: 20px;
	align-items: center;
}

.logout-button {
	background-color: var(--primary-bg-color);
	color: var(--primary-color);
	border: none;
	padding: 12px 16px;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 100%;
	cursor: pointer;

	&:hover {
		background-color: var(--secondary-bg-color);
	}
}
